@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Press+Start+2P&family=Roboto+Slab:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/images/colorful-squares-background.png');
    background-size: 100;
    background-repeat: no-repeat;
    background-position: center center;
}

#game-title {
    font-family: 'Bungee Spice', cursive;
    font-size: 48px;
}

#tagline {
    font-size: 24px;
}

#start-button {
    width: 120px;
    height: 40px;
    font-size: 24px;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ------------------------------------------------------ Coloured boxes */
.row-of-boxes {
    display: flex;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ------------------------------------------------------ Colour name */
#color-name {
    font-size: 36px;
    font-weight: 700;
    margin: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#info-area {
    display: flex;
    justify-content: center;
}

h2 {
margin-bottom: 0;
}

#game-over {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    font-weight: 400;  
    color: red; 
}

#congratulations {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    font-weight: 400;  
    color: red; 
}

/* ------------------------------------------------------ Level display */
#level-section {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: blue;
}

#level {
    font-size: 36px;
    font-weight: 500;
    color: blue;
}

/* ------------------------------------------------------ Score display */
#score-section {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: purple;
}

#score {
    font-size: 36px;
    font-weight: 500;
    color: purple;
}

/* ------------------------------------------------------ Timer display */
#timer-section {
    font-size: 24px;
    padding-bottom: 0;
    color: green;
}

#timer {
    font-size: 36px;
    font-weight: 500;
    color: green;
}

/* ------------------------------------------------------ Media queries */