/*---------------------------------------------- Page Attributes -- */

body {
    height: 80vh;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/images/colorful-squares-background.webp');
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Below Medium Screens */
@media (max-width: 767px) {
    body {
        background-size: 100% auto;
    }
}

/*---------------------------------------------- Game title and tagline -- */

#game-title {
    font-family: 'Bungee Spice', cursive;
    font-size: 48px;
}

#tagline {
    font-size: 24px;
}

/* Below Medium Screens */
@media (max-width: 767px) {
    #game-title {
        font-size: 30px;
    }
    
    #tagline {
        font-size: 16px;
    }
}

/*---------------------------------------------- Start button -- */

#start-button {
    width: 120px;
    height: 40px;
    font-size: 24px;
}

/* Below Medium Screens */
@media (max-width: 767px) {
    #start-button {
        width: 80px;
        height: 30px;
        font-size: 18px;
      }
    }

/*---------------------------------------------- Game area -- */

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Coloured boxes */

.row-of-boxes {
    display: flex;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Colour name */

#color-name {
    font-size: 36px;
    font-weight: 700;
    margin: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Below Medium Screens */
@media (max-width: 767px) {
    .box {
        width: 75px;
        height: 75px;
      }
    
      #color-name {
        width: 75px;
        height: 75px;
        font-size: 24px;
      }
    }

    /* Below Small Screens */
@media (max-width: 575px),
(max-height: 575px) {
    #color-name {
        font-size: 20px;
      }
}

/*---------------------------------------------- Info area - timer, level & score -- */

#info-area {
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 0;
}

/* Level */

#level-section {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: blue;
}



/* Score */

#score-section {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: purple;
}

/* Timer */

#timer-section {
    font-size: 24px;
    padding-bottom: 0;
    color: green;
}

/* General */

#level,
#score,
#timer {
    font-size: 36px;
    font-weight: 500;
}

#outof5,
#outof100 {
    font-size: 36px;
}

/* Below Medium Screens */
@media (max-width: 767px) {
    #level-section,
    #score-section, 
    #timer-section {
        padding-left: 10px;
        padding-right: 10px;
    }
  
   #time-remaining {
      font-size: 24px;
   }

   #score-text,
   #level-text {
      font-size: 24px;
   }

    #level,
    #score,
    #timer {
        font-size: 24px;
}

    #outof5,
    #outof100 {
        font-size: 24px;
}
}

/*---------------------------------------------- Game messages -- */

#game-over,
#congratulations {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    font-weight: 400;  
    color: red; 
}

/* Below Medium Screens */
@media (max-width: 767px) {
    #game-over,
    #congratulations {
        font-size: 18px;
      }
    }